header { 
	padding-top: 30px;
	padding-right: : 30px;
}

body {
	background-color: #e6ffe6;
	padding-left: 60px;
}

h1 {
	color: black;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1:after {
  	content:' ';
    display: block;
    border: 2px solid green;
    position: static;
    padding-right: 50px;
    width: 550px;
}

h2 {
	color: black;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	text-align: center;
}

table {
	width: 602px;
	padding-bottom: 100px;
	padding-top: 50px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	background: white;
}

img {
	height: 100px;
	width: auto;
}

.changeHeadings{
	font-weight: bold ;
	font-size: 20px;
	text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.dollarsAmount, 
.saleAmount, 
.customerAmount{
	width: 600px;
	height: 100px;
	border: 1px solid black;
	padding: 10px 0px 10px 0px;
	margin: 20px 00px 20px 00px;
	border-radius: 5px;
	text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background: white;
}

p {
	background-color: white;
	padding:10px 20px 10px 0px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

